# 1. Abaikan semua folder runtime & assets di mana pun lokasinya
**/runtime/*
**/assets/*

# 2. Tapi JANGAN abaikan file .gitkeep di dalamnya
!**/runtime/.gitignore
!**/assets/.gitignore

# 3. Abaikan folder uploads produk secara total (agar image gak masuk)
**/uploads/products/*
!**/uploads/products/.gitkeep

# Metadata IDE
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/

# Konfigurasi spesifik OS
mobile/.metadata
mobile/.ios/
mobile/.android/
mobile/android/app/local.properties
mobile/android/app/key.properties
